<aside class="sidebar nano">
	<div class="nano-content">
		<div class="sidebar__field">
			<div class="user__field dropdown-relative">
				<div class="user__field-ava is-active"></div>
				<a href="/" class="dropdown__caption js-dropdown">Алексей Чудинов</a>

				<div class="dropdown-content js-dropdown-content">
					<ul>
						<li><a href="">Label 1</a></li>
						<li><a href="/">Label 2</a></li>
						<li><a href="/">Label 3</a></li>
						<li><a href="/">Label 3s</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END user__field -->

		<div class="sidebar__field">
			<a href="/" title="Объявления" class="menu__link"><span class="menu__icon"><i class="icon-news"></i></span>Объявления</a>
		</div>

		<div class="sidebar__field">
			<a href="/" title="Монитор" class="menu__link"><span class="menu__icon"><i class="icon-home"></i></span>Монитор</a>
			<a href="/" title="Аналитика" class="menu__link"><span class="menu__icon"><i class="icon-analytics"></i></span>Аналитика</a>
			<a href="/" title="Отчёты" class="menu__link"><span class="menu__icon"><i class="icon-report"></i></span>Отчёты</a>
			<a href="/" title="Выгрузки" class="menu__link"><span class="menu__icon"><i class="icon-case"></i></span>Выгрузки</a>
		</div>

		<div class="sidebar__field">
			<a href="/" title="Займ" class="menu__link is-current"><span class="menu__icon"><i class="icon-cash"></i></span>Займ</a>
			<a href="/" title="Досье" class="menu__link"><span class="menu__icon"><i class="icon-dosie"></i></span>Досье</a>
		</div>

		<div class="sidebar__field">
			<a href="/" title="Настройки" class="menu__link"><span class="menu__icon"><i class="icon-settings"></i></span>Настройки</a>
			<a href="/" title="Пользователи" class="menu__link"><span class="menu__icon"><i class="icon-users"></i></span>Пользователи</a>
			<a href="/" title="Документация" class="menu__link"><span class="menu__icon"><i class="icon-api"></i></span>Документация</a>
		</div>
	</div>
	<!-- END nano-content -->
</aside>
<!-- END sidebar -->