<header class="header">
	<button class="js-btn-nav btn btn-nav" title="Toggle sidebar">
		<div class="icon-centered"><i class="icon-btn-nav"></i></div>
	</button>

	<a href="index.html" class="header__logo">
		<img src="img/logos/logo-header.png" alt="scorsita company logo" title="Homepage">
	</a>

	<ul class="header__menu">
		<li class="header__item"><a href="/" class="header__link"><div class="icon-centered"><i class="icon-alert"></i></div></a></li>
		<li class="header__item"><a href="/" class="header__link"><div class="icon-centered"><i class="icon-question"></i></div></a></li>
		<li class="header__item"><a href="/" class="header__link"><div class="icon-centered"><i class="icon-translater"></i></div></a><li>
	</ul>
</header>
<!-- END header -->