//Scaffolding
body
	background-color: $body-bg
	+font-family($os-reg)
	line-height: $line-height-base
	font-size: $text-reg //16px
	color: $text
	&.is-open
		main
			padding-left: 80px
		.sidebar
			max-width: 80px
		.icon-btn-nav:after
			opacity: 0
		.icon-btn-nav:before
			opacity: 1
		.sidebar__field .menu__link
			color: transparent
			font-size: 0
			text-align: center
			width: 80px
		.menu__link .menu__icon
			margin: 0 auto
			float: none
			i
				margin: 0 auto
		.user__field
			&-ava
				height: 50px
				width: 50px
// Grids & Layout
.inner
	+clr
	position: relative
	padding: 0 30px
	&__in
		padding: 30px 0
section
	+clr
	display: inline-block
	width: 100%

ul li
	+clr
.content
	padding-top: 50px
	font-size: 0

.col-left
	width: 30%
	padding: 0 18px
	float: left
	margin-right: 60px
	text-align: center
	.list-dotted
		margin-top: 80px
.col-right
	display: inline-block
	width: 64%
	vertical-align: top

// Text: Align
.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right
.text-lead
	font-size: $text-lg //30px
	text-transform: uppercase
.text-md
	font-size: $text-md //20px
	line-height: 1.2 //24px
.text-sm
	font-size: $text-sm //14px

.border-bottom
	padding-bottom: 35px
	border-bottom: 2px solid $border-light
	margin-bottom: 35px
// Titles
.title
	&__in
		padding: 30px
		+clr
	&__shaped
		padding: 20px 30px 30px
		background-color: $white-theme
		border-top: 2px solid $border-light
		border-bottom: 2px solid $border-light
		position: relative
		.image-centered
			position: absolute
			display: block
			cursor: pointer
			text-decoration: none
			z-index: 9999
			top: 65%
			left: 50%
			transform: translateX(-50%)
	&__text
		display: inline-block
	&__text-box
		padding: 17px 5px 10px 15px
		background-color: $white-theme
		border: 2px solid $border-light
		border-radius: 2px
		+clr
		i
			float: right
		p
			display: inline-block
			font-size: $text-sm //14px
			vertical-align: top
		ul li
			p
				font-size: $text-sm //14px
				+r(1365)
					font-size: 12px
	.btn
		float: right
		&-yellow
			margin-right: 10px

// Panel
.panel
	&__info
		margin-bottom: 30px
		p
			font-size: $text-sm //14px
	&__recommended
		margin-bottom: 16px

.petition
	padding: 20px 10px
	text-align: center
	margin-bottom: 20px
	&--good
		background-color: $green
		p
			color: $white
			font-size: 20px
			+font-family($os-bld)

.circle-pulsar
	position: relative
	width: 85px
	height: 85px
	display: inline-block
	line-height: 85px
	text-align: center
	vertical-align: middle
	margin-top: 25px
	&:after, &:before
		content: ""
		display: block
		border-radius: 50%
		position: absolute
		will-change: box-shadow
		transition: all .24s ease-in-out
	&:after
		animation: stretch 1s ease-out 0.220ms alternate infinite none running
		-webkit-animation: stretch 1s ease-out 0.220ms alternate infinite none running
		top: 0
		width: 100%
		height: 100%
		background-color: $yellow
		margin: 0 auto
		z-index: 1
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 115px
		box-shadow: 0 0 0 30px $white, 0 0 0 40px $yellow
		height: 115px
	&:before
		animation: stretch 1s ease-out 0s alternate infinite none running
		box-shadow: 0 0 0 10px $white, 0 0 0 20px $yellow
		height: 100%
		width: 100%
		z-index: 2
	p
		font-size: 36px
		color: $text
		display: inline-block
		position: relative
		line-height: 1
		vertical-align: middle
		z-index: 9999
		+font-family($os-bld)

// animations
@keyframes stretch
	0%
		box-shadow: 0 0 0 10px $yellow, 0 0 0 10px $white
	100%
		box-shadow: 0 0 0 10px $white, 0 0 0 10px $yellow

@-webkit-keyframes stretch
	0%
		box-shadow: 0 0 0 10px $yellow, 0 0 0 10px $white
	100%
		box-shadow: 0 0 0 10px $white, 0 0 0 10px $yellow

@-moz-keyframes stretch
	0%
		box-shadow: 0 0 0 10px $yellow, 0 0 0 10px $white
	100%
		box-shadow: 0 0 0 10px $white, 0 0 0 10px $yellow

.field
	padding: 50px 0
	border-bottom: 2px solid $border-light
	font-size: 0
	vertical-align: top
	+clr
	&:last-child
		border-bottom: none
	p
		display: inline-block
	&__aside
		width: 100%
		text-align: left
		max-width: 25%
		float: left
		vertical-align: top
		display: inline-block
		padding-right: 30px
		+clr
		p
			text-transform: uppercase
			+font-family($os-bld)
		a
			font-size: $text-sm //14px
			display: inline-block
			color: $blue
			float: right
			text-decoration: underline
			cursor: pointer
		.btn
			margin-top: 38px
			display: block
		&--solo
			.btn
				margin-bottom: 30px
			p
				display: block
				text-transform: none
	&__content
		float: right
		max-width: 75%

// bg-variants
.bg-overlay
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 0
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		height: 100%
		width: 100%
	&.bg-overlay--gray
		&:before
			background-color: rgba(#484848, .85)
	&.bg-overlay--white
		&:before
			background-color: rgba($white, .80)
			+cover