//Scaffolding
body
	background-color: $body-bg
	+font-family($os-reg)
	line-height: $line-height-base
	font-size: $text-reg //16px
	color: $text

// Grids & Layout
.inner
	+clr
	position: relative
	padding: 0 30px
section
	+clr
	display: inline-block
	width: 100%

.content
	padding-top: 50px
	font-size: 0
	.col-left
		width: 30%
		padding: 0 18px
		float: left
		margin-right: 60px
		text-align: center
		.list-dotted
			margin-top: 80px
	.col-right
		display: inline-block
		width: 65%
		vertical-align: top

// Text: Align
.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right
.text-lead
	font-size: $text-lg //30px
	text-transform: uppercase
.text-md
	font-size: $text-md //20px
	line-height: 1.2 //24px
.text-sm
	font-size: $text-sm //14px

// Titles
.title
	&__in
		padding: 30px
		+clr
	&__shaped
		padding: 20px 30px 30px
		background-color: $white-theme
		border-top: 2px solid $border-light
		border-bottom: 2px solid $border-light
		position: relative
		&:after
			left: 50%
			top: 50px
			-webkit-transform: translateX(-50%)
			-moz-transform: translateX(-50%)
			-ms-transform: translateX(-50%)
			-o-transform: translateX(-50%)
			transform: translateX(-50%)
			content: ''
			display: block
			position: absolute
			background-image: url("../img/btn-down.png")
			width: 58px
			height: 56px
			+cover
	&__text
		display: inline-block
	.btn
		float: right
		&-yellow
			margin-right: 10px

.field
	padding: 50px 0
	border-bottom: 2px solid $border-light
	font-size: 0
	vertical-align: top
	+clr
	&:last-child
		border-bottom: none
	p
		display: inline-block
	&__aside
		width: 100%
		text-align: left
		max-width: 25%
		float: left
		vertical-align: top
		display: inline-block
		padding-right: 30px
		+clr
		p
			text-transform: uppercase
			+font-family($os-bld)
		a
			font-size: $text-sm //14px
			display: inline-block
			color: $blue
			float: right
			text-decoration: underline
			cursor: pointer
		.btn
			margin-top: 38px
			display: block
		&--solo
			.btn
				margin-bottom: 30px
			p
				display: block
				text-transform: none
	&__content
		float: right
		max-width: 75%

// bg-variants
.bg-overlay
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 0
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		height: 100%
		width: 100%
	&.bg-overlay--gray
		&:before
			background-color: rgba(#484848, .85)
	&.bg-overlay--white
		&:before
			background-color: rgba($white, .80)
			+cover