// Typography
+font("roboto-bold", roboto-bold)
+font("roboto-medium", roboto-medium)
+font("roboto-regular", roboto-regular)
+font("roboto-light", roboto-light)
+font("roboto-thin", roboto-thin)

$roboto-bld:		 "roboto-bold"
$roboto-md:		 "roboto-medium"
$roboto-reg:		 "roboto-regular"
$roboto-light:		 "roboto-light"
$roboto-thin:		 "roboto-thin"

// Text
p
	font-size: $text-reg //16px
	line-height: $line-height-base
	> a
		color: $blue
		text-decoration: underline
	> span
		color: $pink

// Headings
// h1, h2, h3, h4, h5, h6