// Typography
+font("opensans-regular", opensans-regular)
+font("opensans-light", opensans-light)
+font("opensans-bold", opensans-bold)

$os-reg:		 "opensans-regular"
$os-light:		 "opensans-light"
$os-bld:		 "opensans-bold"

// Text
p
	color: $text
	font-size: $text-reg //16px
	line-height: $line-height-base
	> a
		color: $blue
		text-decoration: underline
	> span
		+font-family($os-bld)
	> i
		display: inline-block
		vertical-align: middle
		margin-right: 10px

// Links
a
	-webkit-transition: all .24s ease-in-out
	-moz-transition: all .24s ease-in-out
	-ms-transition: all .24s ease-in-out
	-o-transition: all .24s ease-in-out
	transition: all .24s ease-in-out
	cursor: pointer

// Headings
h1, h2, h3, h4, h5, h6
	+font-family($os-reg)
	color: $text
	line-height: 1

h2
	font-size: $text-lg //30px
h3
	font-size: $text-md //18px
h4
	font-size: $text-reg //16px