// Variables
$line-height-base: 1.57

$black: 				#000
$white:					#fff
$white-theme: 			#eeeff3
$white-f1: 				#f1f1f1
$white-f4: 				#f4f4f4

$green: 				#44ab41
$red: 					#e4030b
$pink: 					#fc8085
$orange: 				#ef7300
$yellow: 				#fed818
$blue: 					#3a6ca7
$btn-blue: 				#447ec1

// Status
$menu-link: 			#adb6c3
$link-green: 			#36a533
$dark-green: 			#328f30
$disable: 				#666d76

// Theme
$body-bg: 				$white
$text: 					#3b3d44
$dark: 					#354052
$dark-bdr: 				#293241
$gray: 					#9ba3af
$border: 				$white-theme
$border-light: 			#dadbe0

// Text size
$text-sm: 		14px
$text-reg: 		16px
$text-md: 		18px
$text-lg: 		30px