# Numerous always-ignore extensions
*.diff
*.psd
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*.npm-debug.log
*.yarn-debug.log
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Folders to ignore
.sass-cache
.tmp
_tmp
node_modules
bower_components
