---
title: index page
mainClasses: main
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/components/_title.html" %}

<ul class="breadcrumbs">
	<li><a href="/" class="is-current">Займы</a></li>
	<li>Кредитное решение agrid512ff4536385</li>
</ul>
<!-- END breadcrumbs -->

<div class="inner">
	<div class="inner__in text-right">
		<div class="user text-left">
			<div class="title__text-box text-center">
				<p><span>ПЕРВИЧНЫЙ</span> (закрыто 0 займов)</p>
			</div>

			<div class="user-info">
				<p>Тарханова Екатерина Петровна</p>
				<p>Паспорт: 7611   554429 </p>
				<p>16.07.1981 г.р.</p>
				<p>+7 (892) 634-34-22</p>
				<p><a href="/" class="js-open-map">Регистрация: </a>Борзя</p>
				<p><a href="/">Проживание: </a>Оса</p>
			</div>

			<button type="button" class="btn btn-green btn-bld btn-rounded">Ещё один займ</button>
			<button type="button" class="btn btn-blue btn-bld btn-rounded">Отчеты</button>
		</div>

		<div class="main-box">
			<div class="borrowing">
				<p><i class="icon-analytics-dark"></i>Займ # 1455398</p>
				<ul class="list-normaly">
					<li><p>Сумма: <span class="text-md">10 000</span> р.</p></li>
					<li><p>Срок: <span class="text-md">30</span> дней</p></li>
				</ul>
			</div>
			<!-- END borrowing -->

			<div class="recommended">
				<div class="petition petition--good"><p>ОДОБРЕНО</p></div>
				<p class="recommended__text"><i class="icon-alert-circle-red"></i>Рекомендация:</p>

				<div class="title__text-box padding-normaly">
					<ul class="list-normaly">
						<li>
							<p>Новая сумма: <span class="text-md">7 500</span> р.</p>
							<i class="icon-arrow-down-red"></i>
						</li>
						<li>
							<p>Новый срок: <span class="text-md">30</span> дней</p>
							<i class="icon-arrow-right-gray"></i>
						</li>
					</ul>
				</div>
			</div>
			<!-- END recommended -->

			<div class="slider text-center">
				<div id="js-range"></div>
				<div class="circle-pulsar"><p>438</p></div>
			</div>
			<!-- END slider -->

			<div class="table-mini">
				<div class="table-wrapper text-left">
					<table>
						<thead>
							<tr>
								<td><p>Интервал:</p></td>
								<td><p>Просрочка:</p></td>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><p class="status status-bad">0 - 150</p></td>
								<td><p class="status status-bad">60%</p></td>
							</tr>
							<tr>
								<td><p class="status status-warning">151- 300</p></td>
								<td><p class="status status-warning">30%</p></td>
							</tr>
							<tr>
								<td><p class="status status-fameless is-current">300 - 690</p></td>
								<td><p class="status status-fameless">40%</p></td>
							</tr>
							<tr>
								<td><p class="status status-info">690 - 820</p></td>
								<td><p class="status status-info">50%</p></td>
							</tr>

							<tr>
								<td><p class="status status-good">820 - 1000</p></td>
								<td><p class="status status-good">10%</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END table-mini -->
			<div class="title__text-box box-md text-left">
				<p>Здесь может быть рекомендация суммы <br>и требования к верификации.</p>
			</div>
		</div>
		<!-- END main-box -->
	</div>
	<!-- END inner__in -->
</div>

<div class="title title__shaped text-center js-show-container">
	<h4 class="title__text">Кредитная история</h4>
	<div class="title__shaped-container js-hidden">
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
		<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых текста собрал своих но толку, ее свое наш предупреждал, всеми которое буквоград. Текстов единственное необходимыми заманивший парадигматическая над, свой.</p>
	</div>
	<a href="/" class="image-centered js-show" title="Click me!"><img src="img/btn-down.png" alt=""></a>
</div>

<section class="content">
	<div class="inner">
		<div class="col-left">
			<button class="btn btn-orange btn-rounded btn-bld margin-1x-bottom" type="button">Посмотреть КИ другого БКИ</button>

			<ul class="list-dotted border-bottom">
				<li>
					<p>Возраст заёмщика:</p>
					<p class="right">45</p>
				</li>
				<li>
					<p>Возраст кредитной истории:</p>
					<p class="right">0</p>
				</li>
				<li>
					<p>Время жизни сотового телефона:</p>
					<p class="right">6</p>
				</li>
				<li>
					<p>Время жизни домашнего телефона:</p>
					<p class="right">5</p>
				</li>
				<li>
					<p>Время жизни рабочего телефона:</p>
					<p class="right">5</p>
				</li>
				<li>
					<p>Время жизни регистрации:</p>
					<p class="right">5</p>
				</li>
				<li>
					<p>Время жизни прописки:</p>
					<p class="right">5</p>
				</li>
			</ul>

			<ul class="list-dotted">
				<li>
					<p><a href="/">Сотовые телефоны: </a></p>
					<p class="right">2</p>
				</li>
				<li>
					<p><a href="/">Рабочие телефоны: </a></p>
					<p class="right">1</p>
				</li>
				<li>
					<p><a href="/">Домашние телефоны: </a></p>
					<p class="right">6</p>
				</li>
				<li>
					<p><a href="/">Адреса регистрации: </a></p>
					<p class="right">5</p>
				</li>
				<li>
					<p><a href="/">Адреса прописки: </a></p>
					<p class="right">2</p>
				</li>
			</ul>
		</div>
		<!-- END col-left -->

		<div class="col-container">
			<div class="row">
				<div class="row-2-col">
					<div class="counter">
						<p class="counter__title">Качество по <br>количеству:</p>

						<div class="counters">
							<div class="counter__item">
								<p>ХОРОШАЯ</p>
								<div class="counter__field status-good" id="js-status-good"></div>
							</div>

							<div class="counter__item">
								<p>НЕИЗВЕСТНАЯ</p>
								<div class="counter__field status-fameless" id="js-status-fameless"></div>
							</div>

							<div class="counter__item">
								<p>ПЛОХАЯ</p>
								<div class="counter__field status-bad" id="js-status-bad"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="row-2-col">
					<div class="counter">
						<p class="counter__title">Качество по <br>сумме:</p>

						<div class="counters">
							<div class="counter__item">
								<p>ХОРОШАЯ</p>
								<div class="counter__field status-good" id="js-status-good2"></div>
							</div>

							<div class="counter__item">
								<p>НЕИЗВЕСТНАЯ</p>
								<div class="counter__field status-fameless" id="js-status-fameless2"></div>
							</div>

							<div class="counter__item">
								<p>ПЛОХАЯ</p>
								<div class="counter__field status-bad" id="js-status-bad2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row bordered">
				<div class="row-2-col">
					<ul class="list-dotted">
						<li>
							<p>Доля кредитов на просрочке  <br>более 30 дней</p>
							<p class="right">30%</p>
						</li>
						<li>
							<p>Доля кредитов на просрочке <br>менее 30 дней</p>
							<p class="right">0%</p>
						</li>
					</ul>
				</div>

				<div class="row-2-col">
					<ul class="list-dotted">
						<li>
							<p>Сумма на просрочке <br>более 30 дней </p>
							<p class="right">3 000 р.</p>
						</li>
						<li>
							<p>Сумма на просрочке <br>менее 30 дней</p>
							<p class="right">0 р.</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="row bordered">
				<div class="row-2-col">
					<ul class="list-dotted">
						<li>
							<p>Количество открытых <br>кредитов за 30 дней</p>
							<p class="right">0</p>
						</li>
						<li>
							<p>Количество закрытых <br>кредитов за 30 дней</p>
							<p class="right">0</p>
						</li>
						<li>
							<p>Количество запросов <br>кредитной истории за 30 дней</p>
							<p class="right">0</p>
						</li>
						<li>
							<p>Количество активных <br>кредитов</p>
							<p class="right">0</p>
						</li>
					</ul>
				</div>

				<div class="row-2-col">
					<ul class="list-dotted">
						<li>
							<p>Сумма запросов <br>кредитной истории за 30 дней</p>
							<p class="right">0</p>
						</li>
						<li>
							<p>Сумма запросов <br>кредитной истории за 30 дней</p>
							<p class="right">0</p>
						</li>
						<li>
							<p>Сумма открытых <br>кредитов за 30 дней</p>
							<p class="right">0</p>
						</li>
						<li>
							<p>Остаток долга по <br>активным кредитам</p>
							<p class="right">35 800 р.</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="row bordered">
				<div class="row-2-col">
					<ul class="list-dotted">
						<li><p>Количество кредитов</p><p class="right">2</p></li>
						<li><p>Количество закрытых кредитов</p><p class="right">2</p></li>
					</ul>
				</div>

				<div class="row-2-col">
					<ul class="list-dotted">
						<li>
							<p>Сумма кредитов</p>
							<p class="right">35 800 р.</p>
						</li>
						<li>
							<p>Сумма закрытых кредитов</p>
							<p class="right">35 800 р.</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="forecast">
				<div class="grid grid-double-spacing">
					<div class="grid-2-col">
						<div class="grid__item">
							<p>Доход прогноз: <span>35 800 р.</span></p>
						</div>

						<div class="grid__item">
							<p>Расход прогноз: <span>35 800 р.</span></p>
						</div>
					</div>
				</div>
			</div>
			<!-- END forecast -->
		</div>
		<!-- END col-container -->
	</div>
	<!-- END inner -->
</section>
<!-- END content -->

<div class="inner">
	<div class="field">
		<div class="grid grid-double-spacing">
			<div class="grid-3-col">
				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Просроченные или активные займы в Вашем или других МФО</p>
						</div>

						<div class="card__status card__status--done">
							<div class="icon-centered"><i class="icon-done"></i></div>
							<p>прошел проверку</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Преобладание неактивных незакрытых кредитов</p>
						</div>

						<div class="card__status card__status--done">
							<div class="icon-centered"><i class="icon-done"></i></div>
							<p>прошел проверку</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Несовпадение ФИО и паспорта заемщика с  официальными данными</p>
						</div>

						<div class="card__status card__status--done">
							<div class="icon-centered"><i class="icon-done"></i></div>
							<p>прошел проверку</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Негативные факторы кредитной истории</p>
						</div>

						<div class="card__status card__status--done">
							<div class="icon-centered"><i class="icon-done"></i></div>
							<p>прошел проверку</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Высокая доля кредитов с текущей просрочкой</p>
						</div>

						<div class="card__status card__status--done">
							<div class="icon-centered"><i class="icon-done"></i></div>
							<p>прошел проверку</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Недельствительность паспорта по сроку действия</p>
						</div>

						<div class="card__status card__status--done">
							<div class="icon-centered"><i class="icon-done"></i></div>
							<p>прошел проверку</p>
						</div>
					</div>
				</div>
				<!-- END done cards -->

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Всего один неактивный незакрытый кредит</p>
						</div>

						<div class="card__status card__status--disable">
							<div class="icon-centered"><i class="icon-disabled"></i></div>
							<p>непро-верялся</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Номер сотового телефона в кредитной истории не найден</p>
						</div>

						<div class="card__status card__status--disable">
							<div class="icon-centered"><i class="icon-disabled"></i></div>
							<p>непро-верялся</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Заёмщик в черном списке Скористы</p>
						</div>

						<div class="card__status card__status--disable">
							<div class="icon-centered"><i class="icon-disabled"></i></div>
							<p>непро-верялся</p>
						</div>
					</div>
				</div>
				<!-- END disabled cards -->

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Все текущие кредиты на просрочке</p>
						</div>

						<div class="card__status card__status--warning">
							<div class="icon-centered"><i class="icon-warning"></i></div>
							<p>причина отказа</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Негатив по ФССП</p>
						</div>

						<div class="card__status card__status--warning">
							<div class="icon-centered"><i class="icon-warning"></i></div>
							<p>причина отказа</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Высокий уровень мошенничества по указанным реквизитам получения займа</p>
						</div>

						<div class="card__status card__status--warning">
							<div class="icon-centered"><i class="icon-warning"></i></div>
							<p>причина отказа</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Подозрение на кибермошенничество</p>
						</div>

						<div class="card__status card__status--warning">
							<div class="icon-centered"><i class="icon-warning"></i></div>
							<p>причина отказа</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Подозрение на умысел частичной оплаты</p>
						</div>

						<div class="card__status card__status--warning">
							<div class="icon-centered"><i class="icon-warning"></i></div>
							<p>причина отказа</p>
						</div>
					</div>
				</div>

				<div class="grid__item">
					<div class="card">
						<div class="card__in">
							<p>Телефон работодателя в черном списке Скористы</p>
						</div>

						<div class="card__status card__status--warning">
							<div class="icon-centered"><i class="icon-warning"></i></div>
							<p>причина отказа</p>
						</div>
					</div>
				</div>
			</div>
			<!-- END warning cards -->
		</div>
	</div>

	<div class="field">
		<div class="field__aside">
			<p>ФССП</p>
			<a href="/" class="js-open-table">Сумма долгов</a>
			<button class="btn btn-orange btn-rounded btn-bld btn-md" type="button">Запросить</button>
		</div>

		<div class="field__content">
			<p>К сожалению проверка по ФССП не проведена проведена в связи с долгим ответом источника.</p>
		</div>
	</div>

	<div class="field">
		<div class="field__aside">
			<p>КРОНОС</p>
			<a href="/">Полный отчёт</a>
			<button class="btn btn-orange btn-rounded btn-bld btn-md" type="button">Запросить</button>
		</div>

		<div class="field__content">
			<div class="grid grid-double-spacing">
				<div class="grid-2-col">
					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>Отсутствует в массиве, содержащем информацию о стоп-листах (черных списках) банков, либо полученные банками, негативные сведения в отношении лица.</p>
							</div>

							<div class="card__status card__status--done">
								<div class="icon-centered"><i class="icon-done"></i></div>
								<p>прошел проверку</p>
							</div>
						</div>
					</div>

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>Данные о судимости не найдены</p>
							</div>

							<div class="card__status card__status--done">
								<div class="icon-centered"><i class="icon-done"></i></div>
								<p>прошел проверку</p>
							</div>
						</div>
					</div>

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>В федеральном розыске не значится.</p>
							</div>

							<div class="card__status card__status--done">
								<div class="icon-centered"><i class="icon-done"></i></div>
								<p>прошел проверку</p>
							</div>
						</div>
					</div>

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>Отсутствует в массиве, содержащем информацию о стоп-листах (черных списках) банков, либо полученные банками, негативные сведения в отношении лица.</p>
							</div>

							<div class="card__status card__status--done">
								<div class="icon-centered"><i class="icon-done"></i></div>
								<p>прошел проверку</p>
							</div>
						</div>
					</div>

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>Административные правонарушения не выявлены.</p>
							</div>

							<div class="card__status card__status--done">
								<div class="icon-centered"><i class="icon-done"></i></div>
								<p>прошел проверку</p>
							</div>
						</div>
					</div>

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>В массиве ЕГРЮЛ не обнаружено. Руководителем и/или учредителем более 20 организаций не значится.</p>
							</div>

							<div class="card__status card__status--done">
								<div class="icon-centered"><i class="icon-done"></i></div>
								<p>прошел проверку</p>
							</div>
						</div>
					</div>
					<!-- END done cards -->

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>Найдены данные о нарушениях по статьям, связанных с наркотиками, проституцией.</p>
							</div>

							<div class="card__status card__status--warning">
								<div class="icon-centered"><i class="icon-warning"></i></div>
								<p>причина <br>отказа</p>
							</div>
						</div>
					</div>

					<div class="grid__item">
						<div class="card">
							<div class="card__in">
								<p>Найдены сведения об исполнительном производстве в отношении ФЛ.</p>
							</div>

							<div class="card__status card__status--warning">
								<div class="icon-centered"><i class="icon-warning"></i></div>
								<p>причина <br>отказа</p>
							</div>
						</div>
					</div>
				</div>
				<!-- END warning cards -->
			</div>
		</div>
	</div>

	<div class="field">
		<div class="field__aside field__aside--solo">
			<p>Соц.сети</p>
			<button class="btn btn-orange btn-rounded btn-bld btn-md" type="button">Запросить</button>
		</div>
	</div>
</div>

<div class="popup js-map">
	<div class="popup-container">
		<button class="btn btn-close js-close-map" type="button">close</button>

		<div class="map">
			<div class="popup__title">
				<p><span>Адрес регистрации:</span> Россия, Борзя, Забайкальский край, Савватеевская улица, д. 4, кв. 9</p>
			</div>

			<div class="map__container">
				<img src="img/map.png" alt="">
			</div>
		</div>
		<!-- END map -->
	</div>
</div>
<!-- END 1 modal -->

<div class="popup js-table">
	<div class="popup-container">
		<button class="btn btn-close js-close-table" type="button">close</button>
		<div class="popup__title">
			<p>Сотовый телефон:</p>
		</div>
		<div class="table-bordered text-center">
			<table>
				<thead>
					<tr>
						<td><p>Номер телефона</p></td>
						<td><p>Сколько раз упоминался</p></td>
						<td><p>Первая дата упоминания</p></td>
						<td><p>Последняя дата упоминания</p></td>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><p class="text-green">+7 (916) 383-04-32</p></td>
						<td><p>1</p></td>
						<td><p>02.12.2016</p></td>
						<td><p>02.12.2016 </p></td>
					</tr>
					<tr>
						<td><p>+7 (916) 383-04-32</p></td>
						<td><p>1</p></td>
						<td><p>02.12.2016</p></td>
						<td><p>02.12.2016 </p></td>
					</tr>
					<tr>
						<td><p>+7 (916) 383-04-32</p></td>
						<td><p>1</p></td>
						<td><p>02.12.2016</p></td>
						<td><p>02.12.2016 </p></td>
					</tr>
					<tr>
						<td><p>+7 (916) 383-04-32</p></td>
						<td><p>1</p></td>
						<td><p>02.12.2016</p></td>
						<td><p>02.12.2016 </p></td>
					</tr>
					<tr>
						<td><p>+7 (916) 383-04-32</p></td>
						<td><p>1</p></td>
						<td><p>02.12.2016</p></td>
						<td><p>02.12.2016 </p></td>
					</tr>
					<tr>
						<td><p>+7 (916) 383-04-32</p></td>
						<td><p>1</p></td>
						<td><p>02.12.2016</p></td>
						<td><p>02.12.2016 </p></td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-rounded btn-green js-close-table" type="button">Закрыть</button>
		</div>
	</div>
	<!-- END 2 modal -->
</div>
<!-- END 2 modal -->
{% endblock %}
