<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<meta name="format-detection" content="telephone=no">

	<!-- Theme Color For Android Phones -->
	<meta name="theme-color" content="#fff">
	<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->

	<!-- Main Style CSS -->
	<link rel="stylesheet" href="css/style.min.css">

	<!-- jQuery -->
	<link rel="stylesheet" href="css/vendor/nanoscroller.css">
	<link rel="stylesheet" href="css/vendor/nouislider.css">
	<link rel="stylesheet" href="css/vendor/jquery.lineProgressbar.min.css">
</head>