// Button
.btn
	outline: none
	cursor: pointer
	border: none
	color: $white
	display: inline-block
	text-align: center
	font-size: $text-sm //14px
	text-decoration: none
	+nosel
	background: none
	padding: 0 20px
	height: 40px
	position: relative
	will-change: transition, color

	-webkit-transition: all .24s ease-in-out
	-moz-transition: all .24s ease-in-out
	-ms-transition: all .24s ease-in-out
	-o-transition: all .24s ease-in-out
	transition: all .24s ease-in-out
	&:active
		top: 1px
	&.btn-bld
		+font-family($os-bld)
	&.btn-ghost
		background-color: transparent
	&.btn-rounded
		border-radius: 50px
	&-nav
		padding: 0
		background-color: transparent
		float: left
		height: 100%
		border-right: 1px solid $border
		&:hover
			i:after
				transform: translate(-2px, -50%)
				-webkit-transform: translate(-2px, -50%)
				-moz-transform: translate(-2px, -50%)
				-ms-transform: translate(-2px, -50%)
				-o-transform: translate(-2px, -50%)
			i:before
				transform: translate(2px, -50%)
				-webkit-transform: translate(2px, -50%)
				-moz-transform: translate(2px, -50%)
				-ms-transform: translate(2px, -50%)
				-o-transform: translate(2px, -50%)
			i:before, i:after
				border-right-color: #8b929c
				border-left-color: #8b929c
		i
			position: relative
		i:after
			+arr(5, 10, $link-green, l)
			content: ''
			display: block
			left: -10px
			top: 50%
			-webkit-transform: translate(0, -50%)
			-moz-transform: translate(0, -50%)
			-ms-transform: translate(0, -50%)
			-o-transform: translate(0, -50%)
			transform: translate(0, -50%)
			transition: all .24s ease-in-out
			position: absolute
		i:before
			+arr(5, 10, $link-green, r)
			content: ''
			display: block
			right: -10px
			top: 50%
			-webkit-transform: translate(0, -50%)
			-moz-transform: translate(0, -50%)
			-ms-transform: translate(0, -50%)
			-o-transform: translate(0, -50%)
			transform: translate(0, -50%)
			transition: all .24s ease-in-out
			position: absolute
			opacity: 0

	&.btn-yellow
		background-color: $yellow
		box-shadow: 0px 2px 0px 0px darken($yellow, 15)
		&:hover
			background-color: darken($yellow, 9)
	&.btn-green
		background-color: $green
		box-shadow: 0px 2px 0px 0px darken($green, 15)
		&:hover
			background-color: darken($green, 9)
	&.btn-blue
		background-color: $btn-blue
		box-shadow: 0px 2px 0px 0px darken($blue, 15)
		&:hover
			background-color: darken($blue, 9)
	&.btn-orange
		background-color: $orange
		box-shadow: 0px 2px 0px 0px darken($orange, 15)
		&:hover
			background-color: darken($orange, 9)

	&.btn-lg
		padding: 0 50px
	&.btn-md
		padding: 0 40px
	&-close
		background-image: url("../img/btn-close.png")
		background-position: center center
		box-shadow: 0.521px 2.954px 13px 0px rgba(0, 0, 0, 0.118)
		background-repeat: no-repeat
		background-color: #2f333a
		border-radius: 50%
		position: absolute
		display: block
		height: 40px
		width: 40px
		right: -20px
		font-size: 0
		padding: 0
		top: -20px
		&:active
			top: -19px
