.header
	width: 100%
	+clr
	font-size: 0
	border-bottom: 1px solid $border
	text-align: center
	&__logo
		display: inline-block
		vertical-align: middle
		margin-top: 32px
	&__menu
		display: table
		font-size: 0
		vertical-align: middle
		float: right
	&__item
		display: inline-block
	&__link
		display: block
		border-left: 1px solid $border
		&:hover
			background-color: $gray
			i.icon
				&-question
					+sprite($s-icon-question-white)
				&-alert
					+sprite($s-icon-alert-white)
				&-translater
					+sprite($s-icon-translater-white)
	.icon-centered
		text-align: center
		width: 80px
		display: inline-block
		line-height: 80px
		height: 80px
		i
			margin: 0 auto
			display: inline-block
			vertical-align: middle