main
	width: 100%
	+clr
	padding-left: 200px
	display: inline-block
	vertical-align: top
	will-change: padding-left
	transition: all .24s ease-in-out
	.inner
		padding: 0 30px
		&__in
			.col-right
				width: 70%
			.col-left
				width: 30%
				padding: 0
				margin-right: 0
				padding-right: 30px
.bla
	display: inline-block
	max-width: 150px
	width: 100%
	padding: 15px 0
	vertical-align: top

.table-wrapper
	display: inline-block
	width: 100%
	vertical-align: top
	table
		width: 100%
	table tr td
		padding: 0 10px 10px 0
	table tr td p
		font-size: $text-sm //14px
		+font-family($os-reg)
		&.status
			padding: 5px
			text-align: center
		&.status-bad
			background-color: #fc8085
			color: #961419
		&.status-good
			background-color: rgba($green, .398)
			color: darken($green, 15)
		&.status-warning
			background-color: #f9b97d
			color: #d56600
		&.status-info
			background-color: #a1c2e9
			color: #4384cf
		&.status-fameless
			background-color: $yellow
			color: #9f8710
		&.is-current
			position: relative
			&:after
				content: ''
				display: block
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: calc(100% + 10px)
				+sprite($s-icon-arrow-right-circle)
.table-bordered
	table
		width: 100%
		tr td p
			text-align: center
	thead
		background-color: $gray
		tr td p
			color: $white
			font-size: $text-reg //16px
	tbody
		tr:nth-child(even)
			background-color: $white-theme
		tr td p
			color: $text
			font-size: $text-reg //16px
			padding: 20px 10px
			&.text-green
				color: $green
				+font-family($os-bld)
	.btn-green
		margin: 40px auto
.forecast
	font-size: 0
	.grid__item
		padding-bottom: 0


.counter
	width: 100%
	font-size: 0
	&__title
		display: inline-block
		font-size: $text-sm //14px
		line-height: 1.42
		+font-family($os-bld)
	&__field
		display: inline-block
		width: 100%
		vertical-align: top
		background-color: $white-theme
		&.status-good
			.proggress:after
				border-color: #81bb7f
		&.status-bad
			.proggress:after
				border-color: #fd6067
		&.status-fameless
			.proggress:after
				border-color: #f0cb0f
	&__item
		margin-bottom: 12px
		position: relative
		p
			text-align: right
			display: inline-block
			+font-family($os-bld)
			line-height: 0.9
			z-index: 9999
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 15px
			font-size: $text-sm //14px
		.proggressbar
			text-align: center
			position: relative
		.percentCount
			color: $text
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 11px
			line-height: 0.9
			font-size: 16px
		.proggress
			font-size: 16px
			position: relative
			&:after
				content: ""
				display: block
				position: absolute
				top: -3px
				right: 0
				height: 46px
				width: 2px
				background-color: inherit
				border-right: 3px solid
		+clr
	.counters
		display: inline-block
		width: 100%
		max-width: 220px
		float: right


.user
	margin-bottom: 50px
	display: inline-block
	vertical-align: top
	width: 100%
	margin-right: 20px
	max-width: 300px
	+clr
	&-info
		padding: 35px 0 45px 0
		p
			margin-bottom: 10px
		p a
			margin-right: 10px
	.btn-blue
		float: right
	&__field
		&-ava
			font-size: 0
			margin: 0 auto 18px
			overflow: hidden
			background-image: url("../img/user-pic.png")
			height: 80px
			width: 80px
			+cover
			will-change: transition, width, height
			transition: all .24s ease-in-out
			&.is-active
				background-image: url("../img/user-ava.png")
				img
					display: none
	.title__text-box
		padding: 0 16px 0 12px
		p
			line-height: 58px